{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="page-heading">
</div>

<section class="section">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kode Payroll : {{dataperiode.KodePeriode}}</h4>
            <p class="card-text"> <br> <strong> Tanggal Mulai</strong> : {{dataperiode.TanggalAwal|date:"Y-m-d"}}
                <br> <strong>Tanggal Akhir</strong> :
                {{dataperiode.TanggalAkhir|date:"Y-m-d"}} <br> <strong>Tanggal Pembayaran</strong> :
                {{dataperiode.TanggalPembayaran|date:"Y-m-d"}}
                <br> <strong>Jenis Payroll</strong> : {{dataperiode.JenisPayroll}} <br> <strong>Status</strong> : {% if
                dataperiode.Status == 'Draft' %}
                <span class="badge bg-secondary">Draft</span>
                {% elif dataperiode.Status == 'Approved' %}
                <span class="badge bg-success">Approved</span>
                {% elif dataperiode.Status == 'Paid' %}
                <span class="badge bg-primary">Paid</span>
                {% endif %}
                <br> <strong>Total Biaya</strong> : {{dataperiode.JumlahKaryawan}}
                <br> <strong>Job Order</strong> : <span class="badge bg-secondary"> {{ dataperiode.NomorJO.NomorJO
                    }}</span>

            </p>
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Gaji Pokok</th>
                        <th>Tunjangan</th>
                        <th>Potongan</th>
                        <th>Pajak</th>
                        <th>Gaji Bersih</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.Karyawan.Nama}}</td>
                        <td>Rp {{ item.BasicSalary|intcomma }}</td>
                        <td>Rp {{ item.AllowanceTotal|intcomma }}</td>
                        <td>Rp {{ item.DeductionTotal|intcomma }}</td>
                        <td>Rp {{ item.Tax|intcomma }}</td>
                        <td>Rp {{ item.NetSalary|intcomma }}</td>
                        <td>
                            {% if item.status == 'draft' %}
                            <span class="badge bg-secondary">Draft</span>
                            {% elif item.status == 'approved' %}
                            <span class="badge bg-success">Approved</span>
                            {% elif item.status == 'paid' %}
                            <span class="badge bg-primary">Paid</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="">
                                <button class="btn btn-info btn-sm">Detail</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}