{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-heading">
    <h3>Input Data Karyawan</h3>
</div>
<section class="section">
    <form class="form form-vertical" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Data Payroll</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon">Kode Periode</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control" required
                                            placeholder="Masukkan Kode Periode Payroll" name="KodePayroll"
                                            id="first-name-icon">
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group has-icon-left">
                                    <label>No Job Order</label>

                                    <!-- hidden ID -->
                                    <input type="hidden" name="joborder" id="joborder-id" required>

                                    <!-- input search -->
                                    <input type="text" id="joborder-input" class="form-control"
                                        placeholder="Cari Job Order..." autocomplete="off">

                                    <!-- dropdown result -->
                                    <div id="joborder-list" class="list-group"></div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="form-group has-icon-left">
                                    <label for="email-id-icon">Jenis Pembayaran</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control" required
                                            placeholder="Masukkan Jenis Pembayaran (Mingguan/Bulanan/dll)"
                                            name="JenisPembayaran" id="email-id-icon">
                                        <div class="form-control-icon">
                                            <i class="bi bi-house"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group has-icon-left">
                                    <label for="mobile-id-icon">Tanggal Awal</label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control" required name="TanggalAwal" id="mobile-id-icon">
                                        <div class="form-control-icon">
                                            <i class="bi bi-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group has-icon-left">
                                    <label for="password-id-icon">Tanggal Akhir</label>
                                    <div class="position-relative">
                                        <input type="date" class="form-control" required name="TanggalAkhir"
                                            id="password-id-icon">
                                        <div class="form-control-icon">
                                            <i class="bi bi-window"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group has-icon-left">
                                    <label for="password-id-icon">Status</label>
                                    <div class="position-relative">
                                        <select name="Status" id="" class="form-control" required>
                                            <option value="Draft" selected>Draft</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Paid">Paid</option>
                                        </select>
                                        <div class="form-control-icon">
                                            <i class="bi bi-card-checklist"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Item Payroll</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form-body">
                        <div class="row">
                            <table class="table table-striped" id="tablemanpower">
                                <thead>
                                    <tr>
                                        <th>Nama</th>
                                        <th>Basic Salary <br>(a)</th>
                                        <th>Allowance Total <br>(b)</th>
                                        <th>Deduction Total <br>(c)</th>
                                        <th>Tax <br>(d)</th>
                                        <th>Status</th>
                                        <th>Net Salary <br>(e = a + b - c - d)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <select name="karyawan[]" class="form-control karyawanselect"
                                                style="width: 100%;" required></select> </td>
                                        <td> <input type="text" class="form-control autonumber basic"
                                                name="BasicSalary[]" required>
                                        </td>
                                        <td> <input type="text" class="form-control autonumber allowance"
                                                name="AllowanceTotal[]" required>
                                        </td>
                                        <td> <input type="text" class="form-control autonumber deduction"
                                                name="DeductionTotal[]" required>
                                        </td>
                                        <td> <input type="text" class="form-control autonumber tax" value="0" name="Tax[]" required></td>
                                        <td>
                                            <select class="form-control" name="Status[]" required>
                                                <option value="draft" selected><span class="badge bg-primary">Draft</span>
                                                </option>
                                                <option value="approved"> <span class="badge bg-success">Approved</span>
                                                </option>
                                                <option value="paid"> <span class="badge bg-info">Paid</span> </option>
                                            </select>
                                        </td>
                                        <td> <input type="text" class="form-control autonumber netsalary"
                                                name="NetSalary[]" required>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <div class="mb-2">
                                <button type="button" class="btn btn-success" id="btnTambah">
                                    <i class="bi bi-plus"></i> Tambah Karyawan
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  justify-content-end">
                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
            </div>
        </div>
    </form>
    <script>

        $("#joborder-input").keyup(function () {
            let query = $(this).val();

            if (query.length < 2) {
                $("#joborder-list").empty();
                return;
            }

            $.ajax({
                url: "{% url 'ajax_joborder' %}",
                data: { q: query },
                success: function (data) {
                    let html = "";

                    data.forEach(function (item) {
                        html += `
                    <a href="#" class="list-group-item list-group-item-action jo-item"
                       data-id="${item.id}"
                       data-text="${item.text}">
                       ${item.text}
                    </a>
                `;
                    });

                    $("#joborder-list").html(html);
                }
            });
        });


        // ================= PILIH JO =================
        $(document).on("click", ".jo-item", function (e) {
            e.preventDefault();

            let id = $(this).data("id");
            let text = $(this).data("text");

            $("#joborder-id").val(id);
            $("#joborder-input").val(text);
            $("#joborder-list").empty();

            // 🔥 LOAD PROPOSE BUDGET
            loadProposeBudget(id);
            loadbudgetcostcode(id);
        });

        $(document).ready(function () {
            initSelect2($('.karyawanselect'));
        });

        function initSelect2(element) {

            $(element).select2({

                ajax: {

                    url: '{% url "get_karyawan" %}',

                    dataType: 'json',

                    delay: 300,

                    data: function (params) {

                        return {
                            q: params.term
                        }

                    },

                    processResults: function (data) {

                        return {
                            results: data.results
                        }

                    },

                    cache: true
                },

                placeholder: 'Cari Karyawan',

                minimumInputLength: 3

            });

        }


        $(document).ready(function () {
            $('#tablemanpower').DataTable({
                scrollX: true,
                scrollCollapse: true,
            });
        });
        $("#btnTambah").click(function () {

            let row = `
    <tr>

        <td>
            <select class="form-control karyawanselect"
                    name="karyawan[]"
                    style="width:100%"></select>
        </td>

        <td><input type="text" class="form-control autonumber basic" name="BasicSalary[]"></td>

        <td><input type="text" class="form-control autonumber allowance" name="AllowanceTotal[]"></td>

        <td><input type="text" class="form-control autonumber deduction" name="DeductionTotal[]"></td>

        <td><input type="text" class="form-control autonumber tax" name="Tax[]"></td>

        <td>

            <select class="form-control" name="Status[]">

                <option>Draft</option>

                <option>Approved</option>

                <option>Paid</option>

            </select>

        </td>

        <td>

            <input type="text"
                   class="form-control autonumber netsalary"
                   
                   name="NetSalary[]">

        </td>

        <td>

            <button type="button"
                    class="btn btn-danger btn-delete">

                Hapus

            </button>

        </td>

    </tr>
    `;

            $("#tablemanpower tbody").append(row);

            let lastRow = $("#tablemanpower tbody tr:last");

            initSelect2(lastRow.find(".karyawanselect"));

            new AutoNumeric.multiple(lastRow.find('.autonumber').toArray(), autoNumericOptions);

        });

        $(document).on("click", ".btn-delete", function () {

            $(this).closest("tr").remove();

        });

        function hitungNetSalary(row) {

            let basic = AutoNumeric.getAutoNumericElement(row.find(".basic")[0]).getNumber();

            let allowance = AutoNumeric.getAutoNumericElement(row.find(".allowance")[0]).getNumber();

            let deduction = AutoNumeric.getAutoNumericElement(row.find(".deduction")[0]).getNumber();

            let tax = AutoNumeric.getAutoNumericElement(row.find(".tax")[0]).getNumber();

            let total = Number(basic)
                + Number(allowance)
                - Number(deduction)
                - Number(tax);

            AutoNumeric.getAutoNumericElement(
                row.find(".netsalary")[0]
            ).set(total);

        }

        $(document).on("keyup change", ".basic,.allowance,.deduction,.tax", function () {

            let row = $(this).closest("tr");

            hitungNetSalary(row);

        });
    </script>
</section>
{% endblock content %}