{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="page-heading">
    <h3>Bulk Input Material Masuk</h3>
</div>

<section class="section">
    <div class="card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
                <h4 class="card-title">Data Surat Jalan</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group has-icon-left">
                            <label>Tanggal</label>
                            <div class="position-relative">
                                <input type="date" class="form-control" name="tanggal" placeholder="Piih Tanggal"
                                    required>
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group has-icon-left">
                            <label>No Surat jalan</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" name="SuratJalan" placeholder="Piih Tanggal"
                                    required>
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group has-icon-left">
                            <label>Upload File Good Receive Note</label>
                            <div class="position-relative">
                                <input type="text" class="form-control item-search" placeholder="Cari Item..."
                                    autocomplete="off" required>
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="card-title">Data Barang</h4>

                <table class="table table-bordered" id="table-input">
                    <thead>
                        <tr>
                            <th width="20%">Nama Material</th>
                            <th width="15%">Kode Item</th>
                            <th width="15%">Spesifikasi</th>
                            <th width="15%">Satuan</th>
                            <th width="15%">Jumlah</th>
                            <th width="15%">Catatan</th>

                            <th>Aksi</th>
                        </tr>
                    </thead>

                    <tbody id="table-body">

                        <!-- ROW TEMPLATE -->
                        <tr>
                            <!-- ITEM AUTOCOMPLETE -->
                            <td style="position: relative;">

                                <input type="hidden" name="item_id[]" class="item-id">

                                <!-- Dropdown hasil -->
                                <div class="list-group item-result"
                                    style="position:absolute; width:100%; z-index:1000;"></div>
                            </td>

                            <!-- KODE ITEM -->
                            <td>
                                <input type="text" name="kode_item" class="form-control kode-item" readonly>
                            </td>

                            <!-- SPESIFIKASI -->
                            <td>
                                <input type="text" name="spesifikasi" class="form-control spesifikasi" readonly>
                            </td>
                            <!-- SPESIFIKASI -->
                            <td>
                                <input type="text" name="satuan" class="form-control satuan" readonly>
                            </td>

                            <!-- JUMLAH -->
                            <td>
                                <input type="text" name="jumlah" class="form-control" placeholder="Jumlah">
                            </td>
                            <!-- REMARKS -->
                            <td>
                                <input type="text" name="remarks" class="form-control" placeholder="Catatan">
                            </td>

                            <!-- ACTION -->
                            <td>
                                <button type="button" class="btn btn-danger btn-sm remove-row">X</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <!-- BUTTON -->
            <button type="button" class="btn btn-secondary" id="add-row">+ Tambah Baris</button>
            <button type="submit" class="btn btn-primary">Simpan Semua</button>



        </form>
    </div>
</section>

<!-- ================= JS ================= -->
<script>
    // Tambah Baris
    $("#add-row").click(function () {
        let row = $("#table-body tr:first").clone();
        row.find("input").val("");
        row.find(".item-id").val("");
        row.find(".item-result").empty();
        $("#table-body").append(row);
    });

    // Hapus Baris
    $(document).on("click", ".remove-row", function () {
        if ($("#table-body tr").length > 1) {
            $(this).closest("tr").remove();
        }
    });

    // AUTOCOMPLETE
    $(document).on('keyup', '.item-search', function () {
        let input = $(this);
        let query = input.val();
        let resultBox = input.siblings('.item-result');

        if (query.length > 1) {
            $.ajax({
                url: "{% url 'search_item' %}",
                data: { 'q': query },
                success: function (data) {
                    resultBox.empty();
                    data.forEach(function (item) {
                        resultBox.append(`
                        <a href="#" 
                           class="list-group-item list-group-item-action select-item"
                           data-id="${item.id}" 
                           data-name="${item.NamaItem}"
                           data-kode="${item.KodeItem}"
                           data-spesifikasi="${item.SpesifikasiItem}"
                           data-satuan="${item.Satuan}">
                           ${item.NamaItem}
                        </a>
                        `);
                        console.log(item)
                    });
                }
            });
        } else {
            resultBox.empty();
        }
    });

    // PILIH ITEM
    $(document).on('click', '.select-item', function (e) {
        e.preventDefault();

        let selected = $(this);
        let container = selected.closest("tr");

        // isi nama item dan id
        container.find('.item-search').val(selected.data('name'));
        container.find('.item-id').val(selected.data('id'));

        // isi kode item & spesifikasi otomatis
        container.find('.kode-item').val(selected.data('kode'));
        container.find('.spesifikasi').val(selected.data('spesifikasi'));
        container.find('.satuan').val(selected.data('satuan'));

        // kosongkan hasil suggestion
        container.find('.item-result').empty();
        console.log(container)
    });
</script>

{% endblock %}