{% load static %}
{% load group_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management Information System - PT Semangat Waja Tama</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css'%}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css'%}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css'%}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-datatables/style.css'%}">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex">
                        <div class="">
                            <a href="index.html"><img src="{% static 'assets/images/logo/logoswt.jpg'%}" alt="Logo"
                                    srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                {% include 'sidebar.html' %}
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class='mb-3'>
                <nav class="navbar navbar-expand navbar-light ">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown me-3">
                                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class='bi bi-bell bi-sub fs-4 text-gray-600'></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <h6 class="dropdown-header">Notifications</h6>
                                        </li>
                                        <li><a class="dropdown-item">No notification available</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">{{request.user.karyawan_profile.Nama}}</h6>
                                            <p class="mb-0 text-sm text-gray-600">{{request.user.karyawan_profile.Role}}</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img src="{% static 'assets/images/faces/1.jpg'%}">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <h6 class="dropdown-header">Hello, {% if request.user.is_authenticated %}
                                            {{ request.user.username }}
                                            {% else %}
                                            Guest
                                            {% endif %}</h6>
                                    </li>
                                    
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i
                                                class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>


            <div class="page-content">
                {% if messages %}
                <div class="container-fluid">
                    {% for message in messages %}
                    <div class="alert 
            {% if message.tags == 'error' %}alert-danger
            {% elif message.tags == 'success' %}alert-success
            {% elif message.tags == 'warning' %}alert-warning
            {% else %}alert-info
            {% endif %}
            alert-dismissible fade show" role="alert">

                        {{ message }}

                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% block content %}
                {% endblock content %}

            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2025 - PT Semangat Waja Tama</p>
                    </div>
                    <div class="float-end">
                        <p>Part of  <a
                                href="http://semangat.co" target="_blank" >Semangat Corporation</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js'%}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js'%}"></script>

    <script src="{% static 'assets/js/main.js'%}"></script>

    <script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js'%}"></script>
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
        let table2 = document.querySelector('#table2');
        let dataTable2 = new simpleDatatables.DataTable(table2);
        let table3 = document.querySelector('#table3');
        let dataTable3 = new simpleDatatables.DataTable(table3);
        new dataTable("table1",{
            responsive: true,
        })
        dataTable3.order = [[3, 'asc']]; // Urutkan berdasarkan kolom pertama (ID) secara menurun
    </script>
    <script>
        setTimeout(function () {
            let alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                let bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            });
        }, 3000);
        document.addEventListener("DOMContentLoaded", function () {
            const currentUrl = window.location.pathname;

            // Seleksi semua link di sidebar
            const sidebarLinks = document.querySelectorAll(".sidebar-menu .sidebar-link");

            sidebarLinks.forEach(link => {
                const linkPath = link.getAttribute("href");

                if (linkPath === currentUrl) {
                    // Tambahkan class active ke link dan parent item
                    link.classList.add("active");

                    const sidebarItem = link.closest(".sidebar-item");
                    if (sidebarItem) sidebarItem.classList.add("active");

                    const submenu = link.closest(".submenu");
                    if (submenu) {
                        submenu.classList.add("active");
                        const parentSidebarItem = submenu.closest(".sidebar-item");
                        if (parentSidebarItem) parentSidebarItem.classList.add("active");
                    }
                }
            });
        });
    </script>

</body>

</html>