{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="page-heading">
    <h3>Dashboard</h3>
</div>

<section class="section">
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h4 class="card-title " >Notifikasi Approval</h4>
            </div>

            <!-- TABLE -->
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nomor</th>
                        <th>Submitted By</th>
                        <th>Jenis</th>
                        <th>Nilai (Rp)</th>
                        <th>Note</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{item.nomor}}</td>
                        <td>{{item.submittedby}}</td>
                        <td>{{item.jenis}}</td>
                        <td>{{item.nilai|intcomma}}</td>
                        <td>{{item.notes}}</td>
                        <td>
                            
                            <a href="">
                                <button type="button" class="btn btn-success btn-sm">Approve</button>
                            </a>
                            
                            <a href="">
                                <button type="button" class="btn btn-danger btn-sm">Reject</button>
                            </a>
                            <a href="{% if item.jenis == 'Cash Expense Report' %}{% url 'detailcashexpensereport' item.id %}{% else %}{% url 'detailproposebudget' item.id %}{% endif %}">
                                <button type="button" class="btn btn-info btn-sm">Info</button>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</section>

<!-- ================= MODAL HAPUS ================= -->
<div class="modal fade" id="modalHapus" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Konfirmasi Hapus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <p>Apakah Anda yakin ingin menghapus data berikut?</p>

                <h5 id="namaItemHapus" class="text-danger"></h5>

                <p class="text-muted">
                    Data yang dihapus tidak dapat dikembalikan.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Batal
                </button>

                <a href="#" id="btnConfirmHapus" class="btn btn-danger">
                    Ya, Hapus
                </a>
            </div>

        </div>
    </div>
</div>

<!-- ================= JS ================= -->
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const buttons = document.querySelectorAll(".btn-hapus");
        const namaItem = document.getElementById("namaItemHapus");
        const btnConfirm = document.getElementById("btnConfirmHapus");

        buttons.forEach(button => {
            button.addEventListener("click", function () {

                const id = this.getAttribute("data-id");
                const nama = this.getAttribute("data-nama");

                // tampilkan nama
                namaItem.textContent = nama;

                // set URL delete (sesuaikan dengan urls.py)
                btnConfirm.href = `datamaterial/delete/${id}`;

            });
        });

    });
</script>

{% endblock content %}